.d-flex {
  align-items: center;
}

.name {
  padding-bottom: 5px;
  padding-left: 10px;
  margin: 0;
}

.img-container {
  background-size: cover;
  width: 100vw;
  height: 40rem;
  filter: blur(8px);
  filter: brightness(0.5);
  position: relative;
}

.img-container-content {
  position: absolute;
  top: 30vh;
  left: 50vw;
  transform: translateX(-50%);
  color: white;
  width: fit-content;
}
.img-container-content img, .img-container-content svg {
  height: 25px;
  margin: 0;
}

.more {
  height: fit-content;
  padding: 10px 15px;
  background-color: #b25e39;
  border-radius: 30px;
  width: fit-content;
  border: none;
}
.more a {
  color: black;
  text-decoration: none;
}
.more a:hover {
  color: white;
}
.more:hover {
  background-color: #473D3A;
}

.desc {
  margin-bottom: 10px;
}

.d-grid {
  display: grid;
}

.description-items {
  position: relative;
  grid-template-areas: "a b c d";
  gap: 30px;
}
@media screen and (max-width: 1000px) {
  .description-items {
    grid-template-areas: "a b" "c d";
    gap: 15px;
  }
}

.content-a {
  grid-area: a;
}

.content-b {
  grid-area: b;
}

.content-c {
  grid-area: c;
}

.content-d {
  grid-area: d;
}